<h1
  class="text-center align-items-center align-content-center align-self-center"
>
  About Me
</h1>
<div class="grid">
  <div
    class="flex col-6 align-items-center justify-content-center w-full sm:w-8"
  >
    <p-accordion class="w-8 sm:w5">
      <p-accordionTab>
        <ng-template pTemplate="header">Header Content</ng-template>
        <ng-template pTemplate="content"
          >Body Content</ng-template
        ></p-accordionTab
      >
      <p-accordionTab>
        <ng-template pTemplate="header">Header Content</ng-template>
        <ng-template pTemplate="content"
          >Body Content</ng-template
        ></p-accordionTab
      >
      <p-accordionTab>
        <ng-template pTemplate="header">Header Content</ng-template>
        <ng-template pTemplate="content"
          >Body Content</ng-template
        ></p-accordionTab
      >
    </p-accordion>
  </div>
  <div class="ml-auto mr-auto">
    <p-image
      class="col-6 flex vertical-align-middle w-5 sm:w-2"
      src="/assets/aboutme.png"
    ></p-image>
  </div>
</div>
