<div class="grid p-3">
  <app-homepage-nav-buttons
    class="col-12 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-end border-solid border-white"
    [labelName]="['About Me', 'about-me']"
  ></app-homepage-nav-buttons>
  <app-homepage-nav-buttons
    class="col-12 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-start border-solid border-white"
    [labelName]="['Portfolio', 'portfolio']"
  ></app-homepage-nav-buttons>
  <app-homepage-nav-buttons
    class="col-12 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-end border-solid border-white"
    [labelName]="['Resume', 'resume']"
  ></app-homepage-nav-buttons>
  <app-homepage-nav-buttons
    class="col-12 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-start border-solid border-white"
    [labelName]="['Contact', 'contact']"
  ></app-homepage-nav-buttons>
</div>
