<app-menu></app-menu>
<div class="grid p-3">
  <app-homepage-nav-buttons
    class="col-12 bg-blue-700 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-center border-solid border-white"
    [labelName]="'About Me'"
  ></app-homepage-nav-buttons>
  <app-homepage-nav-buttons
    class="col-12 bg-blue-700 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-center border-solid border-white"
    [labelName]="'Portfolio'"
  ></app-homepage-nav-buttons>
  <app-homepage-nav-buttons
    class="col-12 bg-blue-700 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-center border-solid border-white"
    [labelName]="'Resume'"
  ></app-homepage-nav-buttons>
  <app-homepage-nav-buttons
    class="col-12 bg-blue-700 w-full sm:w-6 h-10rem sm:h-20rem flex align-items-center justify-content-center border-solid border-white"
    [labelName]="'Contact'"
  ></app-homepage-nav-buttons>
</div>
