<app-menu></app-menu>
<div class="grid">
  <div
    class="col-6 surface-700 w-6 h-10rem p-3 flex align-items-center justify-content-center"
  >
    <button
      pButton
      pRipple
      type="button"
      label="Primary"
      class="p-button-outlined p-button-rounded p-button-lg"
    ></button>
  </div>

  <div
    class="col-6 bg-blue-600 w-6 h-10rem p-3 flex align-items-center justify-content-center"
  >
    <button
      pButton
      pRipple
      type="button"
      label="Primary"
      class="p-button-outlined p-button-rounded p-button-lg"
    ></button>
  </div>

  <div
    class="col-6 bg-green-900 w-6 h-10rem p-3 flex align-items-center justify-content-center"
  >
    <button
      pButton
      pRipple
      type="button"
      label="Primary"
      class="p-button-outlined p-button-rounded p-button-lg"
    ></button>
  </div>

  <div
    class="col-6 bg-pink-700 w-6 h-10rem p-3 flex align-items-center justify-content-center"
  >
    <button
      pButton
      pRipple
      type="button"
      label="Primary"
      class="p-button-outlined p-button-rounded p-button-lg"
    ></button>
  </div>
</div>
